/* 思源默认主题中自有问题的处理 */

/* 反向链接处的一条线引起的像素偏差 */
.fn__flex-1 {
  min-height: 0;
}

/* 优化编辑区因为滚动条出现造成的界面挤压 */
.protyle-content {
  overflow-y: overlay;
  padding-right: 10px;
}

/* 优化 iframe 挂件样式，去掉不必要的 iframe 边框 */
.iframe {
  padding: 0;
}
.iframe-content iframe {
  border: none;
}