/* 思源默认主题中自有问题的处理 */

/* 反向链接处的一条线引起的像素偏差 */
.fn__flex-1 {
  min-height: 0;
}

/* 优化编辑区因为滚动条出现造成的界面挤压 */
.protyle-content {
  overflow-y: overlay;
  padding-right: 10px;
}

/* 优化 iframe 挂件样式，去掉不必要的 iframe 边框 */
.iframe {
  padding: 0;
}
.iframe-content iframe {
  border: none;
}

/* 优化滚动条样式 */
*::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
}

/* 优化滚动条 hover */
*::-webkit-scrollbar-thumb:hover {
  background: #c670c9 !important;
}

/* 优化文章标题对编辑区样式的遮挡 */
.protyle-content .protyle-title__input {
  background-color: transparent;
}

/* 优化顶栏前进后退图标颜色 */
:is(#barBack, #barForward) {
  color: #9a9fa5;
}
:is(#barBack, #barForward):hover {
  color: #47ffeb;
}